/* Import WorkSans-Black */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Import WorkSans-BlackItalic */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Import WorkSans-Bold */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Import WorkSans-BoldItalic */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Import WorkSans-ExtraBold */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Import WorkSans-ExtraBoldItalic */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Import WorkSans-ExtraLight */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Import WorkSans-ExtraLightItalic */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Import WorkSans-Italic */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Import WorkSans-Light */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Import WorkSans-LightItalic */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Import WorkSans-Medium */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Import WorkSans-MediumItalic */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Import WorkSans-Regular */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Import WorkSans-SemiBold */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Import WorkSans-SemiBoldItalic */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Import WorkSans-Thin */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Import WorkSans-ThinItalic */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/Work_Sans/static/WorkSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
